@font-face {
    font-family: 'Economica';
    src: url('../fonts/Economica/Economica-Regular.ttf') format('truetype'), url('../fonts/Economica/Economica-Bold.ttf') format('truetype'), url('../fonts/Economica/Economica-BoldItalic.ttf') format('truetype'), url('../fonts/Economica/Economica-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Eth';
    src: url('../fonts/eth/EthExtended.ttf') format('truetype'), url('../fonts/eth/ETHSerifEthon.ttf') format('truetype'), url('../fonts/eth/EthBlackEthon.ttf') format('truetype'), url('../fonts/eth/EthBlackExtended.ttf') format('truetype'), url('../fonts/eth/EthRomainEthon.ttf') format('truetype'), url('../fonts/eth/ETHSerifBlackEthon.ttf') format('truetype');
}

@font-face {
    font-family: 'Julius';
    src: url('../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
    background: #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
}

.black-inks {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*height:100%;*/
    /*width:100%;*/
    opacity: 1;
    -webkit-transition : all 2s ease-out;
    -moz-transition    : all 2s ease-out;
    -ms-transition     : all 2s ease-out;
    -o-transition      : all 2s ease-out;
    transition         : all 2s ease-out;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}
