/* @font-face {
    font-family: 'ukijqolyazma';
    src: url('#{$path}/font/ukijqolyazma.woff') format('woff'),
        url('#{$path}/font/ukijqolyazma.ttf') format('truetype'),
        url('#{$path}/font/ukijqolyazma.eot') format('eot');
    font-weight: 400;
    font-style: normal;
}
 */

$path: '../../public';

@font-face {
    font-family: 'Cormorant';
    src: url('#{$path}/font/Cormorantsclight.woff2') format('woff2'), url('#{$path}/font/Cormorantsclight.woff') format('woff'),
        url('#{$path}/font/Cormorantsclight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Cormorant';
    src:  url('#{$path}/font/Cormorantsc.woff2') format('woff2'),
        url('#{$path}/font/Cormorantsc.woff') format('woff'),
        url('#{$path}/font/Cormorantsc.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Cormorant';
    src:  url('#{$path}/font/Cormorantscbook.woff2') format('woff2'), url('#{$path}/font/Cormorantscbook.woff') format('woff'),
        url('#{$path}/font/Cormorantscbook.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
/* @font-face {
    font-family: 'Cormorant';
    src:  url('#{$path}/font/Cormorantscsemibold.woff2') format('woff2'), url('#{$path}/font/Cormorantscsemibold.woff') format('woff'), url('#{$path}/font/Cormorantscsemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Cormorant';
    src:  url('#{$path}/font/Cormorantscbold.woff2') format('woff2'), url('#{$path}/font/Cormorantscbold.woff') format('woff'),
        url('#{$path}/font/Cormorantscbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
 */
@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'),
        url('#{$path}/font/HelveticaRegular.eot') format('eot'),
        url('#{$path}/font/HelveticaRegular.eot?#iefix') format('embedded-opentype'),
        url('#{$path}/font/HelveticaRegular.woff') format('woff'),
        url('#{$path}/font/HelveticaRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Light'),
        url('#{$path}/font/HelveticaLight.eot') format('eot'),
        url('#{$path}/font/HelveticaLight.eot?#iefix') format('embedded-opentype'),
        url('#{$path}/font/HelveticaLight.woff') format('woff'),
        url('#{$path}/font/HelveticaLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('#{$path}/font/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('#{$path}/font/MaterialIcons-Regular.woff2') format('woff2'),
    url('#{$path}/font/MaterialIcons-Regular.woff') format('woff'),
    url('#{$path}/font/MaterialIcons-Regular.ttf') format('truetype');
}
