$primary-red: #DE2420;
$second-red: #ffa4a2;
$third-red: #92130e;
$primary-black: #181311;
$primary-white: #F9F8F7;
$second-white: #FFF;
$primary-gray: #d6d6d6;
$second-gray: #F9F9F9;


$path: '../../../public';

$primary-selection-1: #5E0F0E;
$primary-selection-2: #E36865;

$primary-selection-4: #AB1C19;
$primary-selection-5: #EB5916;
$primary-selection-6: #F53C17;

$helvetica-font: 'Helvetica', 'Arial', sans-serif;
$ukijqolyazma-font: 'ukijqolyazma', sans-serif;
$cormorant-font: 'Cormorant', 'Georgia', serif;