.background {
    background-color: $primary-white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation-name: blured;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    overflow: hidden;
    z-index: 1;
    opacity: 1;

    &__block {
        position: absolute;
        width: 397px;
        min-height: 521px;
        background-color: $primary-white;
        border: 1px solid rgba(255, 255, 255, 0.2);
        top: 25%;
        left: 25%;
        transform: rotate(0) translate(0);
        box-shadow: 5px 4px 25px 3px rgba(0, 0, 0, 0.2);
        transition: transform 1s ease-out;
    }
}
